<mat-list role="list">
  <div *ngFor="let task of tasks[0]; index as i;" style="width: 500px;">
    <mat-list-item >
      <div class="listItemContent" [ngClass]="{'taskLate': isDueDateGreaterThanToday(task.dueDate, task.isCompleted), 'taskCompleted': task.isCompleted}">
        <span class="taskTitle">{{task.name}}</span>
        <span class="taskDate">{{task.dueDate | date}}</span>
        <mat-checkbox class="taskCompleted" [checked]=task.isCompleted (change)="onCompletedChange(task.id, $event)"></mat-checkbox>
        <button mat-mini-fab aria-label="Edit task" class="taskEdit" (click)="openDialog(task.id)">
          <mat-icon class="taskEdit">edit</mat-icon>
        </button>
    </div>
    </mat-list-item>
    <mat-divider></mat-divider>  
  </div>
</mat-list>
<button mat-flat-button (click)="openCreateDialog()">Create new task</button>