<h2 mat-dialog-title>Update Task</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Name:</mat-label>
    <input matInput [(ngModel)]="name" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description:</mat-label>
    <input matInput [(ngModel)]="description" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Due Date:</mat-label>
    <input matInput [(ngModel)]="dueDate" />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="updateTask()">Save</button>
</mat-dialog-actions>